In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [3]:
import statsmodels

In [25]:
ad_data = pd.read_csv("C:\\Users\\Anna\\Downloads\\Data_Programming\\mini-project\\adni.csv")

In [27]:
ad_data.head

<bound method NDFrame.head of      DIAGNOSIS   AGE PTGENDER  PTEDUCAT         PTETHCAT PTRACCAT  PTMARRY  \
0           CN  74.3     Male        16  Not Hisp/Latino    White  Married
1     Dementia  81.3     Male        18  Not Hisp/Latino    White  Married
2          MCI  67.5     Male        10      Hisp/Latino    White  Married
3           CN  73.7     Male        16  Not Hisp/Latino    White  Married
4          MCI  80.4   Female        13  Not Hisp/Latino    White  Married
...        ...   ...      ...       ...              ...      ...      ...
1846        CN  71.4     Male        14      Hisp/Latino    White  Married
1847        CN  65.8   Female        13  Not Hisp/Latino    White  Married
1848       MCI  76.7     Male        18  Not Hisp/Latino    White  Married
1849        CN  72.6     Male        19  Not Hisp/Latino    White  Married
1850        CN  56.5   Female        16  Not Hisp/Latino    White  Married

      ADAS11.bl  ADAS13.bl  ADASQ4.bl  ...  EcogSPPlan.bl  EcogSPOrgan.bl  \
0         10.67      18.67        5.0  ...            NaN             NaN
1         22.00      31.00        8.0  ...            NaN             NaN
2         14.33      21.33        6.0  ...            NaN             NaN
3          8.67      14.67        4.0  ...            NaN             NaN
4         18.67      25.67        7.0  ...            NaN             NaN
...         ...        ...        ...  ...            ...             ...
1846      12.00      15.00        2.0  ...            1.0        1.000000
1847       6.00       8.00        1.0  ...            1.4        1.333333
1848      12.33      21.33        8.0  ...            1.2        1.333333
1849       6.67       8.67        0.0  ...            1.0        1.333333
1850        NaN        NaN        NaN  ...            1.0        1.000000

      EcogSPDivatt.bl  EcogSPTotal.bl  ABETA.bl  TAU.bl  PTAU.bl    FDG.bl  \
0                 NaN             NaN       NaN     NaN      NaN  1.369264
1                 NaN             NaN     741.5   239.7    22.83  1.090790
2                 NaN             NaN    1501.0   153.1    13.29       NaN
3                 NaN             NaN     547.3   337.0    33.43  1.297990
4                 NaN             NaN       NaN     NaN      NaN       NaN
...               ...             ...       ...     ...      ...       ...
1846             1.00        1.000000       NaN     NaN      NaN       NaN
1847             1.25        1.342105       NaN     NaN      NaN       NaN
1848             1.25        1.447368       NaN     NaN      NaN       NaN
1849             1.50        1.263158       NaN     NaN      NaN       NaN
1850             1.00        1.000000       NaN     NaN      NaN       NaN

      PIB.bl  AV45.bl
0        NaN      NaN
1        NaN      NaN
2        NaN      NaN
3        NaN      NaN
4        NaN      NaN
...      ...      ...
1846     NaN      NaN
1847     NaN      NaN
1848     NaN      NaN
1849     NaN      NaN
1850     NaN      NaN

[1851 rows x 50 columns]>

In [28]:
ad_data.describe()
ad_data

,DIAGNOSIS,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,ADAS11.bl,ADAS13.bl,ADASQ4.bl,...,EcogSPPlan.bl,EcogSPOrgan.bl,EcogSPDivatt.bl,EcogSPTotal.bl,ABETA.bl,TAU.bl,PTAU.bl,FDG.bl,PIB.bl,AV45.bl
0,CN,74.3,Male,16,Not Hisp/Latino,White,Married,10.67,18.67,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.369264,NaN,NaN
1,Dementia,81.3,Male,18,Not Hisp/Latino,White,Married,22.00,31.00,8.0,...,NaN,NaN,NaN,NaN,741.5,239.7,22.83,1.090790,NaN,NaN
2,MCI,67.5,Male,10,Hisp/Latino,White,Married,14.33,21.33,6.0,...,NaN,NaN,NaN,NaN,1501.0,153.1,13.29,NaN,NaN,NaN
3,CN,73.7,Male,16,Not Hisp/Latino,White,Married,8.67,14.67,4.0,...,NaN,NaN,NaN,NaN,547.3,337.0,33.43,1.297990,NaN,NaN
4,MCI,80.4,Female,13,Not Hisp/Latino,White,Married,18.67,25.67,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846,CN,71.4,Male,14,Hisp/Latino,White,Married,12.00,15.00,2.0,...,1.0,1.000000,1.00,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
1847,CN,65.8,Female,13,Not Hisp/Latino,White,Married,6.00,8.00,1.0,...,1.4,1.333333,1.25,1.342105,NaN,NaN,NaN,NaN,NaN,NaN
1848,MCI,76.7,Male,18,Not Hisp/Latino,White,Married,12.33,21.33,8.0,...,1.2,1.333333,1.25,1.447368,NaN,NaN,NaN,NaN,NaN,NaN
1849,CN,72.6,Male,19,Not Hisp/Latino,White,Married,6.67,8.67,0.0,...,1.0,1.333333,1.50,1.263158,NaN,NaN,NaN,NaN,NaN,NaN
1850,CN,56.5,Female,16,Not Hisp/Latino,White,Married,NaN,NaN,NaN,...,1.0,1.000000,1.00,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
ad_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851 entries, 0 to 1850
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DIAGNOSIS                 1851 non-null   object
 1   AGE                       1851 non-null   float64
 2   PTGENDER                  1851 non-null   object
 3   PTEDUCAT                  1851 non-null   int64
 4   PTETHCAT                  1851 non-null   object
 5   PTRACCAT                  1851 non-null   object
 6   PTMARRY                   1851 non-null   object
 7   ADAS11.bl                 1846 non-null   float64
 8   ADAS13.bl                 1836 non-null   float64
 9   ADASQ4.bl                 1850 non-null   float64
 10  MMSE.bl                   1851 non-null   int64
 11  RAVLT.immediate.bl        1843 non-null   float64
 12  RAVLT.learning.bl         1843 non-null   float64
 13  RAVLT.forgetting.bl       1843 non-null   float64
 14  RAVLT.perc.forgetting.bl  1837 non-null   float64
 15  LDELTOTAL.bl              1848 non-null   float64
 16  DIGITSCOR.bl              814 non-null    float64
 17  TRABSCOR.bl               1803 non-null   float64
 18  FAQ.bl                    1845 non-null   float64
 19  mPACCdigit.bl             1850 non-null   float64
 20  mPACCtrailsB.bl           1850 non-null   float64
 21  IMAGEUID.bl               1716 non-null   float64
 22  Ventricles.bl             1650 non-null   float64
 23  Hippocampus.bl            1485 non-null   float64
 24  WholeBrain.bl             1684 non-null   float64
 25  Entorhinal.bl             1461 non-null   float64
 26  Fusiform.bl               1461 non-null   float64
 27  MidTemp.bl                1461 non-null   float64
 28  ICV.bl                    1716 non-null   float64
 29  MOCA.bl                   1014 non-null   float64
 30  EcogPtMem.bl              1029 non-null   float64
 31  EcogPtLang.bl             1029 non-null   float64
 32  EcogPtVisspat.bl          1025 non-null   float64
 33  EcogPtPlan.bl             1028 non-null   float64
 34  EcogPtOrgan.bl            1005 non-null   float64
 35  EcogPtDivatt.bl           1022 non-null   float64
 36  EcogPtTotal.bl            1029 non-null   float64
 37  EcogSPMem.bl              1022 non-null   float64
 38  EcogSPLang.bl             1023 non-null   float64
 39  EcogSPVisspat.bl          1009 non-null   float64
 40  EcogSPPlan.bl             1013 non-null   float64
 41  EcogSPOrgan.bl            981 non-null    float64
 42  EcogSPDivatt.bl           1002 non-null   float64
 43  EcogSPTotal.bl            1021 non-null   float64
 44  ABETA.bl                  1215 non-null   float64
 45  TAU.bl                    1215 non-null   float64
 46  PTAU.bl                   1215 non-null   float64
 47  FDG.bl                    1301 non-null   float64
 48  PIB.bl                    20 non-null     float64
 49  AV45.bl                   891 non-null    float64
dtypes: float64(43), int64(2), object(5)
memory usage: 723.2+ KB

In [30]:
from zlib import crc32

def test_set_check(identifier, test_ratio):
    return crc32(np.int64(identifier)) & 0xfffffff <test_ratio * 2**32

def split_train_test_by_id(data,test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_,test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]

ad_data_with_id = ad_data.reset_index() #adds and 'index' column
train_set, test_set = split_train_test_by_id(ad_data_with_id, 0.2, "index")

In [31]:
ad_data_with_id.describe()
ad_data_with_id

,index,DIAGNOSIS,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,ADAS11.bl,ADAS13.bl,...,EcogSPPlan.bl,EcogSPOrgan.bl,EcogSPDivatt.bl,EcogSPTotal.bl,ABETA.bl,TAU.bl,PTAU.bl,FDG.bl,PIB.bl,AV45.bl
0,0,CN,74.3,Male,16,Not Hisp/Latino,White,Married,10.67,18.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.369264,NaN,NaN
1,1,Dementia,81.3,Male,18,Not Hisp/Latino,White,Married,22.00,31.00,...,NaN,NaN,NaN,NaN,741.5,239.7,22.83,1.090790,NaN,NaN
2,2,MCI,67.5,Male,10,Hisp/Latino,White,Married,14.33,21.33,...,NaN,NaN,NaN,NaN,1501.0,153.1,13.29,NaN,NaN,NaN
3,3,CN,73.7,Male,16,Not Hisp/Latino,White,Married,8.67,14.67,...,NaN,NaN,NaN,NaN,547.3,337.0,33.43,1.297990,NaN,NaN
4,4,MCI,80.4,Female,13,Not Hisp/Latino,White,Married,18.67,25.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846,1846,CN,71.4,Male,14,Hisp/Latino,White,Married,12.00,15.00,...,1.0,1.000000,1.00,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
1847,1847,CN,65.8,Female,13,Not Hisp/Latino,White,Married,6.00,8.00,...,1.4,1.333333,1.25,1.342105,NaN,NaN,NaN,NaN,NaN,NaN
1848,1848,MCI,76.7,Male,18,Not Hisp/Latino,White,Married,12.33,21.33,...,1.2,1.333333,1.25,1.447368,NaN,NaN,NaN,NaN,NaN,NaN
1849,1849,CN,72.6,Male,19,Not Hisp/Latino,White,Married,6.67,8.67,...,1.0,1.333333,1.50,1.263158,NaN,NaN,NaN,NaN,NaN,NaN
1850,1850,CN,56.5,Female,16,Not Hisp/Latino,White,Married,NaN,NaN,...,1.0,1.000000,1.00,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# stratified sampling based on the diagnosis category
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(ad_data, ad_data["DIAGNOSIS"]):
    strat_train_set = ad_data.loc[train_index]
    strat_test_set = ad_data.loc[test_index]

In [39]:
strat_test_set["DIAGNOSIS"].value_counts() / len(strat_test_set)

MCI         0.477089
CN          0.334232
Dementia    0.188679
Name: DIAGNOSIS, dtype: float64

In [40]:
#ad_data["AGE"] = pd.cut(ad_data["AGE"], bins= [40., 45., 50., 55., 60., 65., 70., 75., 80., 85., 90., np.inf], include_lowest=True, labels=[1,2,3,4,5,6,7,8,9,10,11])
#ad_data["AGE"].hist()

In [ ]:
#variables = ["MMSE.bl", "Hippocampus.bl", "MidTemp.bl", "FAQ.bl"]
g = sns.FacetGrid(data=ad_data, col="MMSE.bl", row="MidTemp.bl")
g.map(sns.scatterplot, "DIAGNOSIS")
g.add_legend()

In [43]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm

In [11]:
X = ad_data.drop('DIAGNOSIS')
y = ad_data['DIAGNOSIS']

KeyError: "['DIAGNOSIS'] not found in axis"

In [ ]:
train,test = train_test_split(ad_data, test_size=0.25, random_state=0, stratify=ad_data['DIAGNOSIS'])